@import "./variables";
@import "./customized_bootstrap";
@import "./mixins";
@import "./functions";


//@import "~hamburgers/_sass/hamburgers/hamburgers.scss";

html {
  overflow-x: hidden;
}

a,
button {
  transition: all 0.25s ease-in-out;
}

.page {

  &-enter-active,
  &-leave-active {
    transition: all 0.25s ease-in-out;
  }

  &-enter,
  &-leave-active {
    transform: scale(0.9);
  }
}


button {
  &.btn {
    font-weight: 500;

    &.outline-primary {
      &:hover {
        color: $primary;
      }
    }
  }
}


.section {
  padding: 5rem 0;

  &__light {
    background: $gray-100;

    &__subtitle {
      color: $secondary;
    }
  }
}


.curve-bottom {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: calc(100% + 76px);
    margin-left: -38px;
    padding-bottom: 2.77%;
    background-image: url('https://sketchapp.com/images/pages/home/52/round-edge.svg');
    background-size: cover;
    z-index: 100;
    bottom: 0;
  }
}

.curve-both {
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    padding-bottom: 2.77%;
    background-image: url('/images/svg/round-edge.svg');
    background-size: cover;
    z-index: 0;
  }

  &::before {
    top: -1px;
    transform: rotate(180deg);
  }

  &::after {

    bottom: -1px;

    @include media-breakpoint-only(md) {
      bottom: -5px;
    }


  }
}
