@import "./variables.scss";
@import "./customized_bootstrap";
@import "./mixins";
@import "./functions";
//@import "~hamburgers/_sass/hamburgers/hamburgers.scss";


html {
  overflow-x: hidden;
}

a,
button {
  transition: all 0.25s ease-in-out;
}

.page {

  &-enter-active,
  &-leave-active {
    transition: all 0.25s ease-in-out;
  }

  &-enter,
  &-leave-active {
    transform: scale(0.9);
  }
}


button {
  &.btn {
    font-weight: 500;

    &.outline-primary {
      &:hover {
        color: $primary;
      }
    }
  }
}


.section {
  padding: 5rem 0;

  &__light {
    background: $gray-100;

    &__subtitle {
      color: $secondary;
    }
  }
}
